/* VIRTUAL FORCED VERTICAL  */
/* VR STYLE TO MIGRATE IN HR HERE */
/* vw TO CONVERT TO vh */
/* ================================================================================== */

/* ================================================================================== */
/* ================================================================================== */
/* ================================================================================== */
/* CSS FORCED VERTICAL  */
/* ALL vw TO vh */
@media only screen and (orientation:landscape) 
{
		.vrRIGHT {
		    transform:rotate(90deg);
		    transform-origin:right top;
			height:100vw; /* let only this vw   */
			width:100vh;
		    overflow-x: hidden;
		    position: absolute;
		    top: 100%;
		    right: 0;
		  }
		
		.vrLEFT {
		    transform:rotate(-90deg);
		    transform-origin:left top;
			height:100vw; /* let only this vw   */
			width:100vh;
		    overflow-x: hidden;
		    position: absolute;
		    top: 100%;
		    left: 0;
		  }

/* ================================================================================== */

#eMainVERTICAL 	 {display: block; width:100%; height:100%; background-repeat:no-repeat; background-size:100% 100%; }
#eMainHORIZONTAL {display: none;  width:100%; height:100%;}

#eMenuVR	{position:absolute; z-index:9999333; left:0%; top:0%; font-size:5vh; padding:7px; cursor:pointer;}

#VRMsqNAME {position:absolute; left:6%; top:13.7%; width:92%; height:12%; z-index:300;
	font-family:var(--XX_MAJORFONTO); font-size:7.0vh; text-align:center; opacity:var(--VRBigCNTR); 
	line-height:1.35em; color:var(--Color_LOWFOCUS); text-shadow:var(--TXT_SHDW); }

.s002 #VRMsqNAME {right:2%; left:unset; top:0.8%; width:40%; height:23%; font-size:6.4vh; text-align:right; opacity:1;}



/* eVRDATES 003*/



#yMini  {font-size:80%; color:var(--Color_LOWFOCUS);}

#LastMinVR {position:absolute; left:0%; top:0%; width:100%; height:100%; 
	display:flex; justify-content:center; align-items:center; text-align:center;
	font-family:'FONTO'; font-size:88vh; 
	background-color:black; color:white; z-index:1000;}

/* eVRDATES 002*/
#eVRDATES	{position:absolute; font-family:var(--XX_MAJORFONTO);
	font-size:6.1vh; line-height:1.20em; direction:ltr;
	left:2%; top:11.1%; height:15.3%; width:96%; z-index:997;
	color:var(--Color_SEKSALATS); text-shadow:var(--TXT_SHDW);}
	
#eVRDATES:lang(AR){font-size:6.8vh; direction:rtl;}

#eVRYOUM  {position:absolute; left:0%; top:0%; width:100%; text-align:center; visibility:visible;}
#eVRHIJRI {position:absolute; left:0%; top:37%; width:100%; text-align:center; color:var(--Color_CLOCK); visibility:visible;}
#eVRMILADI{position:absolute; left:0%; bottom:0%; width:100%; text-align:center;}
#eVR003 {visibility:hidden;}


.s003 #eVRDATES	{position:absolute; font-family:var(--XX_MAJORFONTO);
	font-size:6.6vh; line-height:1.20em; direction:ltr;
	left:7%; top:1.5%; height:11.0%; width:86%; z-index:997;
	color:var(--Color_CLOCK); text-shadow:var(--TXT_SHDW);}
	
.s003 #eVRDATES:lang(AR){font-size:7.3vh; direction:rtl;}

.s003 #eVRYOUM  {visibility:hidden;}
.s003 #eVRHIJRI {visibility:hidden;}
.s003 #eVR003 {position:absolute; right:0%; top:0%; width:100%; text-align:center; visibility:visible;}
.s003 #eVRMILADI{position:absolute; right:0%; bottom:0%; width:100%; text-align:center;color:var(--Color_SEKSALATS);}


/* eVRDATES 003


.s002 #eVRDATES{top:11.0%;}
.s003 #eVRDATES{top:01.0%;}
*/




/* VrMeteoBOX  font-size:95%; */


#VrMeteoBOX	{position:absolute; left:3.1%; top:5.9%; width:10%; height:12%;
	font-size:4.0vh; line-height:1.30em; letter-spacing:0.075em;
	visibility:var(--METEO);text-shadow:var(--TXT_SHDW); text-align:left;
	color:var(--Color_SEKSALATS); font-family :var(--XX_DIGITS);}

#VRMTOikon	{position:absolute; left:0%; top:29%; width:70%; height:auto;}
#VRMTOikon img{width:100%;}
#VRCELSIUS	{position:absolute; left:0%; top:0%; width:100%; text-align:left;}
#VRmeteoHL	{position:absolute; left:0%; bottom:0%; width:100%; text-align:left; 
					color:var(--Color_LOWFOCUS); line-height:1.3em; font-size:80%; opacity:.6; }


	
/*      .s003 #VrMeteoBOX	{left:6.0%;}        */

#CLOKO_MINI_VR	{position:absolute;
	left:0%; top:28.0%; width:100%; height:12%; 
	text-shadow:var(--CLK_SHDW); opacity:var(--VRBigCNTR); 
	font-family :var(--XX_CLOKEN);
	color:var(--Color_CLOCK); z-index:997;}
	
#VR_eMiniHOUR	{position:absolute; line-height:1em; font-size:22.0vh; letter-spacing:var(--LETTminiVR); z-index:925; left:0%;  top:0%;  width:100%; text-align:center;}
#VR_eSECS		{position:absolute; line-height:1em; font-size:8.7vh; text-align:right;  z-index:926; right:9.0%; top:12%;  width:12%; }
#VR_eAMPM		{position:absolute; line-height:1em; font-size:5.3vh; text-align:right;  z-index:927; right:9.0%; top:61%; width:12%; text-shadow:var(--TXT_SHDW);}

#CLOKO_FULL_VR	{position:absolute;	line-height:1em; font-size:22.0vh;
	left:0%; top:28.0%; text-align:center; letter-spacing:var(--LETTfullVR); 
	width:100%; height:12%; text-shadow:var(--CLK_SHDW); 
	font-family :var(--XX_CLOKEN);  z-index:997;
	color:var(--Color_CLOCK); opacity:var(--VRBigCNTR);}

/*  -------------------  */

.s002 #CLOKO_MINI_VR{top:27.0%;}
.s002 #CLOKO_FULL_VR{top:27.0%;}

.s003 #CLOKO_MINI_VR{top:20.5%;}
.s003 #CLOKO_FULL_VR{top:20.5%;}
/*  -------------------  */



.s002 #VR_LOGO {position:absolute; left:38.0%; top:9.3%; width:24%; display:none;}
.s003 #VR_LOGO {position:absolute; left:37.0%; bottom:44.5%; width:26%;}






.s003 #eMIDDLE3	{position:absolute; left:10%; top:43.4%; height:8%; width:80%;
	font-family:var(--XX_DIGITS); font-size:5.6vh; line-height:1.10em;
	color:var(--Color_SEKSALATS); text-shadow:var(--TXT_SHDW);}

.s003 #VReNXXX {position:absolute; right:0%; width:33.0%; bottom:0%; text-align:center; letter-spacing:0.075em;}
.s003 #VReJomoa{position:absolute; left:0%; width:33.0%; bottom:0%; text-align:center; letter-spacing:0.075em;}

.s003 #VReSEP {display:none;}


/* ---------------- .s003 #VReJomoa:lang(AR){text-align:right;} */
 
.s002 #eMIDDLE3	{position:absolute; left:3%; top:48.3%; height:8%; width:94%; 
	font-family:var(--XX_DIGITS); font-size:6.1vh; line-height:1.10em;
	color:var(--Color_SEKSALATS); text-shadow:var(--TXT_SHDW);}

.s002 #VReJomoa{position:absolute; left:0%;  width:47%; top:0%; text-align:right; letter-spacing:0.075em;}
.s002 #VReNXXX {position:absolute; right:0%; width:47%; top:0%; text-align:left; letter-spacing:0.075em;}

.s002 #VReSEP {position:absolute; left:50%;  width:3%; height:35%; top:5%; border-left:1px solid var(--VBRDS);}



#eMIDDLE3 span{font-family:var(--XX_MAJORFONTO); font-size:65%; color:var(--Color_LOWFOCUS); letter-spacing:0; opacity:.8;}
#eMIDDLE3 span:lang(AR){font-size:75%;}


#elps{font-size:70%;}



#VReMESSAGE0 {position:absolute; z-index:300; left:3%; bottom:3.1%; width:94%; height:5%; padding:.3% 0; 
	font-family:var(--XX_SCREENAZKAR); line-height:1.4em; text-align:center; overflow:hidden;
	font-size:5.7vh; color:var(--Color_CLOCK);}

#VReMESSAGE1 {position:absolute; z-index:300; left:3%; bottom:3.1%; width:94%; height:5%;}
.cMarq {position:absolute; left:0%; top:0%; width:100%; height:100%; font-family:var(--XX_SCREENAZKAR); line-height:1.4em; 
	font-size:5.7vh; color:var(--Color_CLOCK); text-shadow:var(--TXT_SHDW);}
	

#VReVER	{position:absolute; font-size:2.5vh; text-align:center; left:0%; bottom:0.7%; width:100%; z-index:1300; letter-spacing: 0.075em; opacity:.5;}





#VRSMLKNTR {position:absolute; right:0%; top:47.6%; width:88%; height:8.8%;
	background:var(--Color_BGTUBE); border-radius:75px 0 0 75px; visibility:hidden;}

#sVRnbr {position:absolute;  left:0%; top:0%; width:55%; height:100%; font-size:12.5vh;
	 color:var(--Color_CLOCK); font-family:var(--XX_DIGITS);
	display:flex; justify-content:center; align-items:center; text-align:center;}

#sVRtxt {position:absolute; right:0%; top:0%; width:45%; height:100%; font-size:6.5vh;
	color:var(--Color_SEKSALATS); font-family:var(--XX_SCREENAZKAR);
	display:flex; justify-content:center; align-items:center; text-align:center;}


.s002 #VRSMLKNTR{top:47.6%; height:8.8%;}
.s003 #VRSMLKNTR{top:42.4%; height:11.2%;}




#VRAzanCOMES { position:absolute; z-index:400;
	left:0%; top:0%; width:100%; height:100%;
	line-height:1.7em; text-align:center; font-family:var(--XX_SCREENAZKAR);
	z-index:99991; font-size:15vh; 
	background:var(--Color_BGTUBE); text-shadow:var(--CLK_SHDW);
	color:var(--Color_SEKSALATS);}

#eeeTextAZAN {margin-top:60%;}
#eeeNowNAMEazan {font-size:150%; color:var(--Color_CLOCK);}
#eeeTopTIME {
			position:absolute; left:30%; top:15%; width:40%; 
			font-family:var(--XX_DIGITS); letter-spacing:0.085em;
			line-height:1em; font-size:6vh; color:var(--Color_CLOCK);}

#VRIQAMATIME { position:absolute;
	left:0%; top:0%; width:100%; height:100%;
	line-height:1em; text-align:center; font-family:var(--XX_SCREENAZKAR);
	z-index:99991; font-size:13vh; 
	background:var(--Color_BGTUBE);
	color:var(--Color_CLOCK);}

#VRnowIQAMA {margin-top:71%;}


#VRDOHACAME { position:absolute;
	left:0%; top:0%; width:100%; height:100%;
	line-height:1em; text-align:center; font-family:var(--XX_SCREENAZKAR);
	z-index:99991; font-size:13vh; 
	background:var(--Color_BGTUBE);
	color:var(--Color_CLOCK);}

#VRnowDOHA {margin-top:71%;}






#VRAZKAR {position:absolute; left:0%; top:0%; width:100%; height:100%; z-index:999;
	background-image:url(./azkar/vr.jpg);
	background-repeat:no-repeat; 
	background-size:100% 100%;}
	 
#Vmes0 {position:absolute; left:2%; top:3.0%; width:96%; height:93%; display:table;}
#Vmes1 {display:table-cell; vertical-align:middle; text-align:center; direction:rtl;
	 font-family:var(--XX_SCREENAZKAR); font-size:3.8vh; text-shadow:var(--CLK_SHDW);
	line-height:1.90em; color:#EDDDC1;}
#Vmes1 span{font-size:70%; color:gray;}


#VR5MIN {position:absolute; left:0%; top:0%; width:100%; height:100%; z-index:999;
	background-image:url(./azkar/azkar5min-vr.jpg);
	background-repeat:no-repeat; 
	background-size:100% 100%;}







#VRSLIDES {position:absolute; left:0%; top:0%; width:100%; height:100%; z-index:999;
	background-image:url(./slides/vr.jpg);
	background-repeat:no-repeat; 
	background-size:100% 100%;}

	 
#sVmes0 {position:absolute; left:2%; top:3.0%; width:96%; height:93%; display:table;}
#sVmes1 {display:table-cell; vertical-align:middle; text-align:center; direction:rtl;
	 font-family:var(--XX_SCREENAZKAR); font-size:3.8vh; text-shadow:var(--CLK_SHDW);
	line-height:1.90em; color:#EDDDC1;}
#sVmes1 span{font-size:70%; color:gray;}



#VReAyatsHDR {position:absolute; font-family:'Amiri'; 
	text-align:center; left:.5%; top:40.0%; 
	z-index:300; height:8%; width:99%; font-size:6.5vh; 
	color:var(--Color_GOLDEN);text-shadow:var(--TXT_SHDW);}
#VReALERT {position:absolute;font-family:var(--XX_SCREENAZKAR); font-size:6.3vh; 
	visibility:hidden; left:.5%; top:40.0%; width:99%; 
	text-align:center; color:var(--Color_CLOCK);}


/*  -------------------  */

.s002 #VReAyatsHDR{top:40.0%;}
.s002 #VReALERT{top:40.0%;}

.s003 #VReAyatsHDR{top:var(--j888);}
.s003 #VReALERT{top:var(--j888);}
/*  -------------------  */


/* var(--Color_BGTUBE) */

#tuberBG {position:absolute; left:7%; top:78.3%; width:86%; height:6.0%; border-radius:75px; background:rgba(0,0,0, 0.15); visibility:hidden;}

#VRePrayersHDR 	{font-family:var(--XX_DIGITS); position:absolute; left:10%; top:56.0%; height:40%; width:80%; text-shadow:var(--TXT_SHDW);}
.cccROUND		{position:relative; height:14.0%; margin-bottom:var(--RndMrjnB); width:100%; background-color:var(--bgForVRS); opacity:0.5; }
.cccROUND_ACTIVE{position:relative; height:14.0%; margin-bottom:var(--RndMrjnB); width:100%; background-color:var(--bgForVRS); opacity:1; }





#VR_TITLES 	{position:relative; left:0%; top:1.5%; direction:ltr; height:6.5%; width:100%; text-transform:uppercase; 
	font-size:2.7vh; font-family:var(--XX_MAJORFONTO); line-height:1em; opacity:.7; }
#VR_TITLES:lang(AR) {font-size:3.7vh; top:0%; direction:rtl;}


/*   */
#ewAZAN {position:absolute; top:0%; right:36.0%; width:30%; text-align:right;}
#ewSALAT{position:absolute; top:0%; left:4.5%; right:unset; width:30%; text-align:left;}
#ewIQAMA{position:absolute; top:0%; left:unset; right:0%; width:26.5%; text-align:right; visibility:var(--IQAMAT);}
#ewSALAT:lang(AR){position:absolute; top:0%; right:4.5%; left:unset; width:30%; text-align:right;}
#ewIQAMA:lang(AR){position:absolute; top:0%; left:0%; right:unset; width:26.0%; text-align:right;}




.sMDL #ewAZAN {position:absolute; top:0%; left:-5%; right:unset; width:30%; text-align:right;}
.sMDL #ewSALAT{position:absolute; top:0%; left:45%; right:unset; width:30%; text-align:left;}
.sMDL #ewIQAMA{position:absolute; top:0%; left:unset; right:0%; width:26.5%; text-align:right; visibility:var(--IQAMAT);}
.sMDL #ewAZAN:lang(AR) {position:absolute; top:0%; right:2%; width:30%; text-align:right;}
.sMDL #ewSALAT:lang(AR){position:absolute; top:0%; right:41%; left:unset; width:30%; text-align:right;}
.sMDL #ewIQAMA:lang(AR){position:absolute; top:0%; left:0%; right:unset; width:26.0%; text-align:right;}






.sMDL .eeeNAME {position:absolute; left:45%; bottom:19%; width:30%; text-align:left; 
	line-height:1em; color:var(--Color_CLOCK);font-family:var(--XX_MAJORFONTO); font-size:6.9vh; }
.sMDL .eeeNAME:lang(AR) {right:41%; left:unset; font-size:var(--VR77); bottom:17.5%; text-align:right;}

.sMDL .eeeHOUR {position:absolute; text-align:right; width:30%; left:-5%; bottom:16%; font-size:var(--VR77); letter-spacing: 0.065em; line-height:1em;  color:var(--Color_SEKSALATS);}
.sMDL .eeeHOUR:lang(AR) {text-align:right; right:0%; left:unset;}

.sMDL .eeeIQAMA	{position:absolute; right:0%; bottom:16%; text-align:right; width:27%; font-size:var(--VR77); letter-spacing: 0.065em; line-height:1em; visibility:var(--IQAMAT); color:var(--Color_SEKSALATS);}
.sMDL .eeeIQAMA:lang(AR)	{left:0.3%; right:unset;}


.eeeNAME {font-family:var(--XX_MAJORFONTO); position:absolute; left:2%; font-size:6.7vh; bottom:19%; 
	line-height:1em; color:var(--Color_SEKSALATS);}
.eeeNAME:lang(AR) {right:2%; left:unset; font-size:var(--VR77); bottom:17.5%; text-align:right;}

.eeeHOUR {position:absolute; text-align:right; width:31%; right:35.2%; bottom:16%; font-size:var(--VR77); letter-spacing: 0.065em; line-height:1em;  color:var(--Color_CLOCK);}

.eeeIQAMA	{position:absolute; right:0%; bottom:16%; text-align:right; width:27%; font-size:var(--VR77); letter-spacing: 0.065em; line-height:1em; visibility:var(--IQAMAT); color:var(--Color_SEKSALATS);}
.eeeIQAMA:lang(AR)	{left:0.3%; right:unset;}





.Vmtx{position:absolute; right:63%; top:15%; width:8%; height:69.0%; 
	font-size:2.3vh; direction:ltr; visibility:var(--MTOSLWTS);}
.Vmtx:lang(AR){right:26.0%;}


#VRdemain {position:absolute; line-height:1em; right:89%; bottom:3%; font-size:1.9vh; color:var(--Color_LOWFOCUS);text-shadow:none; opacity:.5;}
#VRdemain:lang(AR) {right:3%; left:unset;}

select {width:100%; padding:0.5%; text-align:right; font-size:2.1vh;}
select optgroup{padding:1.5%;  color:#913E23;}
select option{padding:1.1%; direction:ltr; text-align:left; color:#252525;}


button {margin-top:5%; width:60%; font-size:3.5vh; padding:2%;}


#eHELPSCREEN 	{position:absolute; height:100%; width:100%; left:0px; top:0%; visibility:hidden; font-size:3.0vh; z-index:99998; background:#151515;}
.cssSET 		{position:absolute; text-align:center; display:table; left:0%; top:0%; width:100%; height:5%; background-color:#282828;}
.cssMenuGRP 	{position:absolute;font-family:var(--XX_MAJORFONTO); font-size:4.2vh; line-height:1em; left:0%; top:6%; width:100%; height:94%;  overflow-y:auto; }


.cssModelSettingsWINDOW	{font-family:var(--XX_MAJORFONTO); font-size:3.6vh; position:absolute; width:100%; height:100%; left:0%; top:0%; visibility:hidden; z-index:99993; background:#151515;}
.cssTitlesHOLDER		{position:absolute; display:table; left:0%; top:0%; width:100%; height:6%;}
.cssSettingsDATA		{position:absolute; left:0%; top:6%; width:94%; height:88%; padding:3%; line-height:1.75em; overflow-y:auto;}


.cssNoMOBILE {position:absolute; left:30%; top:40%; width:40%; height:auto; visibility:hidden;}
.cssCheckBOX {height:4vh; width:5vh;}
.cccADJUSTER	{font-size:3vh; height:5vh; width:6vh;}



.CSS_AR33 {font-family:var(--XX_MAJORFONTO);    font-size:4.2vh; cursor:pointer;}
.CSS_AR44 {font-family:var(--XX_MAJORFONTO);    font-size:3.4vh; cursor:pointer;}
.CSS_EN33 {font-family:var(--XX_MAJORFONTO); font-size:2.8vh; cursor:pointer;}

input[type='radio'] { vertical-align:middle; width:3.5vh; height:3.5vh;}




#VRCONTO {position:absolute; left:0%; height:23%; width:100%;
	z-index:999; line-height:1em; text-align:center; letter-spacing:0.0em;
	font-family:'FONTO'; font-size:33vh; color:var(--Color_CLOCK); text-shadow:var(--BIG_SHDW);}

#sVRCloky {position:absolute; right:5%;  height:auto; width:30%;
	line-height:1em; text-align:right; font-family:var(--XX_CLOKEN); letter-spacing:normal;
	font-size:7vh; color:var(--Color_SEKSALATS); text-shadow:var(--TXT_SHDW);}


/*  -------------------  */

.s002 #VRCONTO{top:24.0%;}
.s002 #sVRCloky{top:-97.0%; right:unset; left:7%;}

.s003 #VRCONTO{top:18.0%;}
.s003 #sVRCloky{top:-10.0%; right:35%; left:unset; text-align:center;}
/*  -------------------  */



}


